<div id="content">

 <div class="scroll">
<table border="0" cellspacing="0" cellpadding="" class="thumbs">
  <tr>

	<td><%= link_to "show photo",
    :url => { :action => "show", :id => @print }
%></td>
  
  </tr>
</table>

</div>


</div>

<br />


