/*------------------------------------- global reset-----------------------------------------------*/
/* Normalizes margin, padding */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, p, blockquote, th, td 
{ margin : 0; padding : 0; }

/* Normalizes font-size for headers */
h1,h2,h3,h4,h5,h6 { font-size : 100%; }

/* Removes list-style from lists */
ol,ul { list-style : none; }

/* Normalizes font-style and font-weight to normal */
address, caption, cite, code, dfn, em, strong, th, var
{ font-style : normal; font-weight : normal; }

/* Removes list-style from lists */
table { border-collapse : collapse; border-spacing : 0; }

/* Removes border from fieldset and img */
/*fieldset,img { border : 0; }

/* Left-aligns text in caption and th */
caption,th { text-align : left; }

/* Removes quotation marks from q */
q:before, q:after { content :''; }

/*------------------------------------- layout begins -----------------------------------------------*/
* {
	margin: 0;
	padding: 0;
}

body {
    font-size: 62.5%;
    background: url('../images/gradient_light.jpg') repeat; 
}

html, body {
	height: 100%;	
}
p,li {
	font: 1.2em/1.8em Verdana, serif;, sans-serif;
	margin-bottom: 15px;
}


#logo {
	font-family: Palatino, "Palatino Linotype", "Book Antiqua", serif;
    font-size: 40px;
    margin-left: 0px;
	color: #CC0200;
	height: 0px;
	margin-top:-30px;
}

#page-wrap {
	min-height: 100%;
	background: white;
	width: 1180px;
	margin: 10px auto;	
}
* html #page-wrap {
	height: 100%;
}

#page-wrap #inside {
	margin: 10px 10px 0px 10px;
	padding-top: 10px;
	padding-bottom: 10px;	
}
	
#main-content {
	padding-left: 40px;
	padding-top: 60px;
}
	
#header {
	text-align: center;
}

.flash {
	color: #032050; margin-top: 50px; margin-left: 0px;
}

#footer {
	background: #333;
	position:relative;
	text-align: center;
    margin-left: 40px;
    margin-bottom: 0px;
    padding-top: 8%;
	color: #eee;
	font-family: verdana, arial, sans-serif;
}

#footer p {
	padding-top: 5px;
	padding-bottom: 5px;
}


#footer a {
  font-family: verdana, arial, sans-serif;
  text-decoration: none;
  color: #eee;
}

#footer a:hover {
  text-decoration: underline;
  color: #666;
}

.dropcap {
	color:#CC0200;
	font-size:70px;
	line-height:10%;
	padding-top:0px;
	padding-right:3px;
	font-family: Arial, sans-serif;
}

h2 {
	font: 1.8em Arial, Helvetica, sans-serif;
	color: #666;
	text-align:left;
	margin-left:40px;
	margin-bottom:-1px;
	letter-spacing: .2em;

}

/*----------- Home page ---------------*/

.img-shadow1 img {
	
	float:right;
	padding-left: 20px;
	margin: 90px 70px 0 10px !important;
    margin: 90px 70px 0 5px;
}

.states {
	margin-top: 15px;
	float: left;
	font-weight: bold;
	color: #333;
}

.states a {
	color: #333;
	text-decoration:none;
}

.states a:hover {
	text-decoration: underline;
	color: #CC0200;
}

.design_states {
	margin-top: 65px;
	float: left;
	font-weight: bold;
	color: #333;
}

.design_states a {
	color: #333;
	text-decoration:none;
}

.design_states a:hover {
	text-decoration: underline;
	color: #CC0200;
}

.art_state {
	margin-top: 100px;
	margin-left:200px;
	margin-right: 60px;
	width:850px;
	line-height: 190%;
	font-family: Verdana, serif;
    text-align:justify;
}

.art_state2 {

	margin-left:200px;
	width:860px;
	margin-right: 70px;
	line-height: 190%;
	font-family: Verdana, serif;
    text-align:justify;
}

#book_data {
  float:left;
  position: absolute;
  top: 170px;
  margin-left: 0px;
  clear:both;

}
#book_data p {
	line-height: 150%;
	color: #333;
	font-size: 13px;
}

#book_data {
	line-height: 100%;
	color: #333;
	font-size: 13px;
}

#book_data #size  {
	line-height: 100%;
	color: #333;
	font-size: 11px;
	clear:right;
}
#book_data h3 {
  
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: #333;
	font-size: 16px;
}

#book_state {
	margin-top: 145px;
	padding-bottom:35px;
	margin-left:46px;
	width:660px;
	line-height: 190%;
}

.enlarge_book a {
  position:absolute;              
  margin-right: 30px;
  margin-left:862px;
  top:535px;
  background: #CC0200;
  color: #fff;
  font-size: 12px;
  padding:3px 6px 3px 6px;
  font-family: Arial, sans-serif ;
  border: 2px solid #ccc;
}

.book_display{
	
	float:left;
	padding-left: 20px;
	margin: 15px 70px 0 200px !important;
    margin: 15px 70px 0 195px;	
}

#line {
  float:left;
  clear:right;
  margin-left: 30px;
  margin-top: -255px;
}
.img-shadow img {
	
	float:right;
	padding-left: 20px;
	margin: 70px 70px 0 10px !important;
    margin: 70px 70px 0 5px;
}
/*----------- end Home page ---------------*/

.book {
	float:right;
	margin-right: 230px;
	margin-top:80px;
	margin-bottom:35px;
	padding: 10px;
	border:1px solid black;
}

.statement {
	margin-top: 60px;
	float:right;
	margin-right: 80px;
}

#next {
	float:right;
	margin-top: 20px;
	margin-right: 97px;
	font-size: 12px;
	font-family: Arial, Verdana, sans-serif;
	color :#fff;    
/*	clear:both;*/    
	clear:left;
}

#next a {
	float:right;
	margin-right: 2px;
    color: #fff;
	font-size: 12px;
	display:block;
	background: #75747A;
	padding:3px 6px 3px 6px;
	border: 2px solid #ccc;    
		clear:left;   
}

#next a:hover {
	background: #CC0200;
}

.title {
	width:150px;
	line-height: 200%;

}

.enlarge a {
  position:relative;
  margin-right: 30px;
  margin-left:970px;
  top: 360px;
  background: #CC0200;
  color: #fff;
  font-size: 12px;
  padding:3px 6px 3px 6px;
  font-family: Arial, sans-serif ;
  border: 2px solid #ccc;
}

#numbering {
    text-align:right;
	margin-top: 10px;
	margin-right: 100px;
	font-size: 12px;
	font-family: Arial, sans-serif ;
	color: #999;
}

#image_display {
	position: absolute;
	margin-right: 200px;
	margin-left: 260px;
	top: 170px;
}

/* Etching Details */

#image_data {
  float:left;
  position: absolute;
  top: 170px;
  margin-left: 0px;
  clear:both;

}
#image_data p {
	line-height: 150%;
	color: #333;
	font-size: 13px;
}

#image_data {
	line-height: 100%;
	color: #333;
	font-size: 13px;
}

#image_data #size  {
	line-height: 100%;
	color: #333;
	font-size: 11px;
	clear:right;
}
#image_data h3 {
  
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: #333;
	font-size: 16px;
}

#skinny {
	width: 100px;
    font-size: 12px;
    font-family: Arial, sans-serif;
	line-height: 170%;
	font-weight: bold;
	color: #333;
	
}

/* End of Etching Details */

#quotation {
	font-family: verdana, helvetica, sans-serif;
	font-size: 11px;
	margin-top: 70px;
	margin-left: 20px;
	width:240px;
	text-align:justify;
	padding: 10px 0 0px 0;
}



#navcontainer ul
{ 
  margin-left:40px;
  margin-top:0px;
  background-color: #75747A;
  color: #fff;
  float: left;
  width:97.3%; 
  font-family: "Helvetica Neue", arial, sans-serif;
  font-size:10px;
	letter-spacing: .45em;
	border-left: 2px solid #ccc;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;                 

}

#navcontainer ul li { display: inline; }


#navcontainer ul li a
{
	padding: 0.2em 4.20em 0.2em 4.10em;	
	background-color: #75747A;
	color: white;
/*	width:inherit;*/
	text-decoration: none;
	float: left;
	border-right: 1px solid #BBB;
}


#navcontainer ul li.last a {
	
	padding: 0.2em 4.20em 0.2em 4.10em;
		
	background-color: #75747A;
	color: white;
	text-decoration: none;
	float: left;
	border-right: 0px solid #fff;
	
}

#navlist ul li a
{
	padding: 0.2em 1em;   
	background-color: #999;
	color: white;
	text-decoration: none;
	float: left;
}


#navcontainer ul li a:hover
{

  background: #CC0200;
  color: #fff;
}

#home #nav-home a,
#statement #nav-statement a,
#prints #nav-prints a,
#books #nav-books a,
#resume #nav-resume a,
#contact #nav-contact a {
  color: #fff;
  background: #CC0200;
}



#home #nav-home a:hover,
#statement #nav-statement a:hover,
#prints #nav-prints a:hover,
#books #nav-books a:hover,
#resume #nav-resume a:hover,
#contact #nav-contact a:hover {
    color: #fff;
    background: #CC0200;
}
   

#navmenu-h {

	margin-top:0px;    

}
ul.mainmenu {
/*  margin-left: 0px;     */      
	float:right;
  border: 0 none;

/*  width: auto; For KHTML*/
  list-style: none;
  height: 26px;
}

ul.mainmenu li {

  margin: 0;
  border: 0 none;
  padding-right: 2px;
  margin-right:0px;  /* fix for background */
  float: left; /*For Gecko*/
  display: inline;
  list-style: none;
  position: relative;
  height: 27px;

}

/* SUBMENUS */

ul.mainmenu ul {     

/*  border: 0 none;*/
  padding: 0;
  font-family: arial, helvetica, sans-serif;
  font-size:10px;
  width:190px; 
  width: auto;
  list-style: none;
  display: none;
  position: absolute;
  top: 24px;
  left: -41px;
  border: 0px;

}

ul.mainmenu ul:after /*From IE 7 lack of compliance*/{
  clear: both;

  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
}

ul.mainmenu ul li {
  width:181px;  /* WIDTH */
/*  border:1px solid white;*/
  float: left; /*For IE 7 lack of compliance   */
  display: block !important;
  display: inline; /*For IE*/
  border-left:px solid white;   /* this works */
 /* border-right:1px solid #000;   THIS SHOWS THE TRUE WIDTH OF BUTTON */



}

/* Root Menu */
ul.mainmenu a {
   
  padding: 0 6px;
  float: none !important; /*For Opera*/
  float: left; /*For IE     */
  display: block;
/*  font: bold 10px/22px Verdana, Arial, Helvetica, sans-serif;*/
  text-decoration: none;
  height: auto !important;
  height: 1%; /*For IE*/ 
  


}

/* Root Menu Hover Persistence */
ul.mainmenu a:hover {
     border:0 none;
    display:block;
    
    

}

/* 2nd Menu */
ul.mainmenu li:hover li a,
ul.mainmenu li.iehover li a {
  border:0 none;
  float: none;
  background: #CC0200; /* was ccc */ 





}

ul.mainmenu ul ul {
  
  display: none;
  position: absolute;
  top: 0;
  left: 135px;  


}

/* Do Not Move - Must Come Before display:block for Gecko */
ul.mainmenu li:hover ul ul,
ul.mainmenu li.iehover ul ul {
  
  display: none;
    background: #75747A;     
}

ul.mainmenu li:hover ul,
ul.mainmenu ul li:hover ul {
  display: block;

}

ul.mainmenu li.iehover ul,
ul.mainmenu ul li.iehover ul {
  display: block;
}

li.persistHover,
a.persistHover
{

    background: #75747A;   
	color: #FFF;
}


span.counter {
	width: 13px;

	text-align: center;
	line-height: 10px;
	padding-left: 3px;
	background: #4e94ca;
	color: white;
	font-size: 12px;
	position: absolute;
	right: 1px;
	top: 1px;
	bottom: 1px;
}




#quote {
	float:left;
	font-family: Verdana, sans-serif;
	width:140px;
	margin-top: 150px;
	font-size: 10px;
	display: block;
	background: #ccc;
	padding: 2px;
	color: #333;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#portrait {
    float: left;
    clear: both;
	margin-top: 50px;
	margin-left: 10px;
}


/* Resume */

#clients h3{	
	font-family: Arial, sans-serif ;
	font-weight: bold;
	color: #333;
	font-size: 14px;
	margin-left: 0px;
	
}

#clients p {
	
	font-family: Arial, sans-serif ;
	font-weight: bold;
	color: #333;
	font-size: 12px;
	margin-left: 0px;
	
}

#clients {
	float: left;
	font-size: 8px;
	clear:both;
	padding-top: 5px;
	margin-left: 20px;

}

#clients ul li {
	font-weight: bold;
	color: #333;
}

#resume_section {
	margin-left: 260px;
	margin-top: 50px;

}

#resume_section p {
	font-weight: bold;
	font-family: Arial, Verdana, sans-serif;
}

#resume_header {
	margin-top: 70px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: #333;
	font-size: 14px;
	padding-bottom: 10px;
}
.resume {
	font-family: Arial, Verdana, sans-serif;

}

.resume .head {
	font-size: 12px;
	font-weight:bold;
    line-height: 250%;
}

.resume .indent {
	margin-left: 80px;
}

.resume dl dd {
	margin-left: 20px;
	font-size: 12px;
    line-height: 290%;
}


/*---------------- CONTACT FORM -----------*/
.email {
	margin-top: 60px;
}
.email a {
	text-decoration:none;
	color: #CC0000;
}

.email a:hover {
  text-decoration:underline;
	color: #CC0000;
}
fieldset {
	margin-top: 10px;
  width:700px;
  padding-bottom: 20px;
  padding-top: 20px;
  background: #C9C2CA;	
}

legend {
	font-size: 1.4em;
	font-family: Verdana, Arial ;
	background: #18181A;
	color: #fff;
	margin-left:5px;
	padding: 5px;
}

label {
	margin-left: 10px;
	font-size: 1.1em;
}

input, textarea {
	margin-left: 20px;
  font-size:1.3em;
}

#button {
	margin-top: 5px;
	padding-top: 5px;
}
/*---------------- end CONTACT -----------*/
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

