
<div class="enlarge_book">
</div>

<div id="book_data">
	<h3>BOOKS</h3><br />
	<p><b>Making It In<br />
	      New York City</b></p>
	<p>Allworth Press</p>

</div>
<div class="book_display">
		<%= image_tag(@book.path, :width => @book.width, :height => @book.height, :alt => @book.title )%>  
</div>

