<div id="numbering">
  [<%= @book.id %> of 18]

</div>

<div id="next">
	<%= link_to_unless(@book.id.eql?(18), "Next", "#{@book.id + 1}") %> 
<%= link_to_unless(@book.id.eql?(1),  "Prev", "#{@book.id - 1}") %>


</div>

<div class="enlarge_book">
</div>

<div id="book_data"> 
	<h3>BOOKS</h3><br />
	<h3>Hobo</h3><br />
	<p>Etchings by Joan O'Connor</p><p>Poetry by Audrey McGinn</p>
	<p>Edition of Eight</p>
	

</div>
<div class="book_display">
		<%= image_tag(@book.path, :width => @book.width, :height => @book.height, :alt => @book.title )%>  
</div>

