<p>A user has chosen to contact you via your web site.<br /> 
=================================================== </p>
<p>User:    <%= @name %> </p>
<p>Email:   <%= @email %></p>

<p>User Message:<br />
----------------------------- </p>
<p><%= @message %> <p>
 
<p>-----------------------------<br />
Generated at <%= Time.now.to_s %></p>