
<div class="enlarge_book">
		<a href="/images/large/book_550_362.jpg" rel="lytebox[books]" title="Making It In NYC">Enlarge</a>
</div>

<div id="book_data">
	<h3>BOOKS</h3><br />
	<p><b>Making It In<br />
	      New York City</b></p>
	<p>Allworth Press</p>

</div>
<div class="book_display">
  <img src="/images/book_263_400.jpg" alt="Making It in NYC" width="263" height="400" />
</div>


