
<div class="img-shadow">
  <img class="wrap" src="/images/wilson.jpg" alt="Hobo Series" width="318" height="391" />
</div>


<p class="design_states"><%= link_to "Printmaker Statement", :action => 'statement', :controller => 'site' %><br />
<%= link_to "Designer Statement", :action => 'design_statement', :controller => 'site' %></p>
<p class="art_state"><span class="dropcap">I</span>am a freelance book designer and was a member of Stillwater Partners, a book development group. For many years I was an Art Director for the College Division of The McGraw-Hill Companies (and probably designed, at least once, every major title the Division published). Currently, among other projects, I have designed a journal garden book of illustrations and photos of an artist’s New England garden.</p>

<p class="art_state2">I had the honor to design the poster and catalog for the New York Bookbinders’ Annual Book Award Show that was held in March 2008. In 2007, I served as a judge in the children’s trade book division for the New York Book Binders. Over the years I have judged several of their shows in different areas and currently am Co-chair of the Graphics Committee for the book show. </p>

<p class="art_state2">I am also a printmaker, having exhibited my prints in several group shows, and am developing a book incorporating a series of my prints accompanied by a poet’s original work composed for the book.</p>