<div id="quotation">
<p>"The artist, like the God of the creation, remains within or behind or
beyond or above his handiwork, invisible, refined out of existence,
indifferent, paring his fingernails." &mdash;James Joyce</p>
</div>