<div id="portrait">
	<img src="/images/portrait.jpg" width="179" height="257" alt="portrait of the artist" />
</div>


<div id="clients">
	<h3 class="clients">CLIENTS</h3>
	<p class="past">Past and Current</p>
	<ul>

	<li>Bedford/St.Martin’s Press</li>
	<li>The McGraw-Hill Companies, Inc. </li>
	<li>Discovery Channel </li>
	<li>W. H. Freeman Publisher </li>
	<li>Mill Brook Press </li>
	<li>Prentice Hall</li>
	<li>John Wiley &amp; Sons, Inc.</li>
	<li>Franklin Watts</li>
	<li>Harry Abrams</li>
	<li>Garland Science Publishing</li>
	<li>Allworth Press </li>
	<li>Harper Collins Publishers</li>
	<li>Springer-Verlag</li>
	</ul>
</div>
<div id="line">
	<img src="/images/line.jpg" height="1160" width="1" alt="line" />
</div>
<div id="resume_section">
<h3 id="resume_header">PRINTMAKER AND DESIGNER</h3>
<p>Lives and works in New York City</p>
<div class="resume">
<dl>
  <dt class="head"><b>Education</b></dt>
	<dd>The Cleveland Institute of Art and Pratt Institute, BFA</dd>
	<dd>Post graduate printmaking and painting at Pratt Graphic Center, 
		Art Students League, and New School University. </dd>
<dt class="head"><b>Professional Affiddations</b></dt>
	<dd>Bookbinders' Guild of New York-co-chair of Graphics Committee for 2005-2009 book show</dd>
	<dd>Typophiles Club</dd>
	<dd>Artists Talk on Art Coordinator for the Future of Public Art Program</dd>
	<dd>The National Arts Club</dd>
	<dd>SAGA (Society of America Graphic Artists)</dd>
<dt class="head"><b>Professional Book Design Awards</b></dt>
	<dd>AIGA Awards </dd>
	<dd>Art Director Club </dd>
	<dd>Delaware Valley Award</dd>
	<dd>New York Bookbinders' Awards </dd>
	<dd>McGraw-Hill Design Awards </dd>
	<dd>PIA Award (Printing Institute of America) </dd>
	<dd>Creativity Show (sponsored by Art Direction Magazine) </dd>
<dt class="head"><b>Exhibitions and Collections</b></dt>
	<dd>Pfizer, Inc. Corporate Art Collection </dd>
	<dd>The New York Society of Etchers'
	 <dd class="indent">International Print Exchange, Peru</dd>
	<dd>The New York Society of Etchers "Art of Persuasion" 
		at the National Arts Club </dd>
	<dd>Artist Book Award from Fable Book Competition, London</dd>

			<dd class="indent">"Mother Goose for Grown Ups" by Guy Wetmore Carryl.</dd>
  		<dd class="indent">Art by Frank Feldman, Design by Joan O'Connor</dd>

	<dd>International Miniature Print Show, Cadaques, Spain</dd>
	<dd>National Academy of Art Biannual Show</dd>
	<dd>Public Images, Heaven Hell, NY</dd>
	<dd>Outsiders' Gallery, Livingston Manor, NY</dd>
	<dd>Center for Contempory Printmaking </dd>
	<dd>Aububon Artist Show</dd>
	<dd>The New York Society of Etchers "Salon Show" </dd>
	<dd>The New York Society of Etchers "Art of Democracy"</dd>
</dl>
</div>
<br />
<small><a name="footer" href="#top">Top of Page</a></small></div>

